@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 0 !important;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header-info {
    background-color: #336949;
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.header-info li {
    list-style: none;
    margin-right: 15px;
    top: 1px;
    font-weight: 500;
}

.header-info li:first-child {
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    border-right: 2px solid rgba(255,255,255,0.6);
    padding-right: 15px;
}

.header-info a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: 0.25s ease-in-out;
}

.header-info a:hover {
    transition: 0.25s ease-in-out;
    color: #ffffff;
}

.nav-logo img {
    height: 130px !important;
    width: auto;
}

.nav-logo {
    padding: 0 !important;
    display: unset;
    width: 27%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end
}

.nav-menu {
    padding: 0 !important;
    display: unset;
    width: 73%
}

.nav-menu ul {
    display: flex;
    margin-bottom: 0;
    vertical-align: bottom;
}

.nav-menu ul li {
    list-style: none;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    position: relative;
}

.nav-menu ul li:first-child {
    border-left: 1px solid #e6e6e6;
}

.nav-menu ul>li>a {
    display: table-cell;
    padding: 0 20px;
    letter-spacing: normal;
    font-weight: bold;
    line-height: 15px;
    height: 80px;
    font-size: 14px;
    text-decoration: none;
    color: #646464;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.nav-menu ul>li>a:hover {
    background-color: #75c045;
    color: #fff !important;
    box-shadow: inset 0 80px #75c045;
    transition: all 0.3s ease;
}

.nav-menu ul>li>ul {
    display: none;
    position: absolute;
    width: max-content;
    background-color: #75c045;
    padding: 30px;
    z-index: 100;
    border: 2px solid #eee
}

.nav-menu ul>li>ul>li>a {
    display: unset;
    padding: 0;
    letter-spacing: normal;
    font-weight: normal;
    line-height: unset;
    height: unset;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: all 0.1s ease;
}

.nav-menu ul>li>ul>li {
    border-top: none;
    border-right: none;
    position: unset;
}

.nav-menu ul>li>ul>li:first-child {
    border-left: unset;
}

.nav-menu ul>li>ul>li>a:hover {
    background-color: unset;
    color: #fff;
    box-shadow: unset;
    transition: all 0.3s ease;
}

.nav-menu li:hover > ul {
    display: block;
}

.footer-list {
    background-color: #336949;
}

.footer-info-container {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

.footer-info:last-child {
    font-size: 14px;
}

.footer-info li {
    list-style: none;
    margin-right: 15px;
    top: 1px;
    font-weight: 500;
}

.footer-info a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: 0.25s ease-in-out;
}

.footer-info a:hover {
    transition: 0.25s ease-in-out;
    color: #ffffff;
}

.footer-info li:last-child {
    justify-content: flex-end;
    color: rgba(255,255,255,0.6);
}

footer {
    width: 100%;
    height: auto;
    background-color: #75c045;
}

.img-container {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.footer-logo-left img, .footer-logo-right img {
    height: 160px;
    width: auto;
}

.bot-container {
    display: block;
    width: 60%;
    height: 700px;
    margin: 10% auto 2% auto;
    background-color: #f7f7f7;
    border-radius: 0.8rem;
    overflow-y: auto;
}

.bot-container::-webkit-scrollbar {
    width: 6px;
}

.bot-container::-webkit-scrollbar-thumb {
    border-radius: 9em;
    background-color: #75c045;
}

.bot-message:first-child {
    margin-top: 5%;
}

.bot-message, .user-answer {
    display: inline-block;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2% 3%;
    font-size: 15px;
    width: max-content;
    max-width: 65%;
    margin-left: 2%;
    position: relative;
    margin-bottom: 2%;
}

.user-answer {
    display: block;
    margin-left: auto;
    margin-right: 2%;
    text-align: left;
}

.date-of-message {
    color: #646464;
    font-size: 11px;
    text-align: right;
    margin-bottom: 0;
}

.message {
    margin-bottom: 0;
}

.bot-message-green {
    display: block;
    background-color: #75c045;
    border-radius: 1rem;
    padding: 2% 3%;
    width: max-content;
    max-width: 450px;
    margin-left: 2%;
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 12px;
    margin-bottom: 3%;
    font-weight: 550;
    text-transform: uppercase;
}

.answer {
    padding-bottom: 3% !important;
}

.bot-message-green ul {
    list-style: none;
    margin-bottom: 0
}

.bot-message span {
    font-weight: bold;
}

.bot-message a {
    color: #5e9d35;
}

.li-question {
    cursor: pointer;
    padding: 2% 0;
    position: relative;
}

.li-question::before {
    content: '' !important;
    bottom: 0 !important;
    left: 0 !important;
    position: absolute !important;
    width: 100% !important;
    height: 1.8px !important;
    background-color: #fff !important;
    transition: .3s !important;
    transform: scaleX(0) !important
}

.li-question:hover::before {
    transform: scaleX(1) !important;
}

.button-section {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: flex-start
}

.button-section button {
    border-radius: 1em;
    background-color: #fff;
    padding: 1% 5%;
    color: #646464;
    cursor: pointer;
    border: 1px solid #646464;
    margin-bottom: 3%;
    margin-right: 0.8%;
    font-size: 16px;
    outline: none;
    transition: 0.3s all ease;
}

.button-section button:hover {
    border: 1px solid #75c045;
    color: #fff;
    box-shadow: inset 0 80px #75c045;
    transition: all 0.5s ease;
}

